<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <title>View data / DataViewer</title>

{% extends "navbar.html" %}
{% block body %}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>

      <!-- Map Icons-->
      <!--<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">-->
      <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.awesome-markers.css') }}">


      <!--Leaflet JS-->
      <!-- Make sure you put this AFTER Leaflet's CSS -->
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
              
      <!-- Map Icon js -->
      <script src="{{ url_for('static', filename='leaflet.awesome-markers.js') }}"></script>


    <script>
        $(function () { 
            $("#content").load("{{url_string}}"); 
        });
    </script>
</head>
<body> 
    <div id="content">
        <div class="container"><h4 style="text-align:center; margin-top:5px;">Processing survery data, hold on ... </h4></div>
        <div class="container" style="width: 100%; text-align: center;">
        <div class="loader loader--style2" title="1">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.6s"
                repeatCount="indefinite"/>
              </path>
            </svg>            
          </div>
        </div>
    </div>

</body>

<style type="text/css">
    .loader{
     margin: 0 0 2em;
     height: 100px;
     width: 20%;
     text-align: center;
     padding-top: 1em;
     /*margin: 0 auto 1em;*/
     display: inline-block;
     /*vertical-align: top;*/
   }
   
   /*
     Set the color of the icon
   */
   svg path,
   svg rect{
     fill: #FF6700;
   }
   
   </style>


{% endblock %}
</html>